<div class="editor-row">
  <div class="section gf-form-group">
    <h5>Series specific overrides <tip>Regex match example: /server[0-3]/i </tip></h5>
    <div class="gf-form-inline" ng-repeat="override in ctrl.panel.seriesOverides">
      <div class="gf-form">
        <label class="gf-form-label">alias or regex</label>
      </div>
      <div class="gf-form">
        <input type="text" ng-model="override.alias" bs-typeahead="ctrl.getSeriesNames(ctrl)" data-min-length=0 data-items=100 ng-blur="ctrl.render()" class="gf-form-input width-15" >
      </div>

      <div class="gf-form">
        <label class="gf-form-label">summary type</label>
      </div>
      <div class="gf-form">
        <select
          class="gf-form-input width-5"
          ng-model="override.summaryType"
          required="required"
          ng-change="ctrl.render()">
          <option value="sum">sum</option>
          <option value="average">average</option>
          <option value="min">min</option>
          <option value="max">max</option>
        </select>
      </div>

      <div class="gf-form">
        <label class="gf-form-label">extent (low, high)</label>
      </div>
      <div class="gf-form">
        <input type="number" ng-model="override.extent.low" class="gf-form-input width-5" ng-blur="ctrl.render()" >
      </div>
      <div class="gf-form">
        <label class="gf-form-label">,</label>
      </div>
      <div class="gf-form">
        <input type="number" ng-model="override.extent.high" class="gf-form-input width-5" ng-blur="ctrl.render()" >
      </div>

      <div class="gf-form">
        <label class="gf-form-label">format</label>
      </div>
      <div class="gf-form">
        <div class="dropdown width-15" style="width: 266px;"
             ng-model="override.format"
             dropdown-typeahead="ctrl.unitFormats"
             dropdown-typeahead-on-select="ctrl.setUnitFormat(override, $subItem)">
        </div>
      </div>

      <div class="gf-form">
        <label class="gf-form-label">height</label>
      </div>
      <div class="gf-form">
        <input type="number" ng-model="override.height" min="30" class="gf-form-input width-5" ng-blur="ctrl.render()" >
      </div>

      <div class="gf-form">
        <label class="gf-form-label">bands</label>
      </div>
      <div class="gf-form">
        <input type="number" ng-model="override.bands" min="1" max="10" ng-change="ctrl.bandsChange(override)" class="gf-form-input width-5" >
      </div>

      <div class="gf-form">
        <label class="gf-form-label">-</label>
      </div>
      <div class="gf-form">
        <label class="gf-form-label"><spectrum-picker ng-repeat="color in override.colors.negative" ng-model="color.rgb" ng-change="ctrl.render()"></spectrum-picker></label>
      </div>
      <div class="gf-form">
        <label class="gf-form-label">+</label>
      </div>
      <div class="gf-form">
        <label class="gf-form-label"><spectrum-picker ng-repeat="color in override.colors.positive" ng-model="color.rgb" ng-change="ctrl.render()"></spectrum-picker></label>
      </div>
      <div class="gf-form">
        <div class="dropdown">
          <button class="gf-form-input btn btn-inverse dropdown-toggle" type="button" data-toggle="dropdown">Color Sets
            <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li ng-repeat="defaultColor in ctrl.defaultBands"><a ng-click="ctrl.setBandsWith(override, defaultColor)">
              -
              <div class="sp-replacer sp-light" ng-repeat="defaultColorEntry in defaultColor.negative">
                <div class="sp-preview">
                  <div class="sp-preview-inner" style="background-color: {{defaultColorEntry.rgb}};"></div>
                </div>
                <div class="sp-dd">▼</div>
              </div>
              +
              <div class="sp-replacer sp-light" ng-repeat="defaultColorEntry in defaultColor.positive">
                <div class="sp-preview">
                  <div class="sp-preview-inner" style="background-color: {{defaultColorEntry.rgb}};"></div>
                </div>
                <div class="sp-dd">▼</div>
              </div>
            </a></li>
          </ul>
        </div>
      </div>
      <div class="gf-form">
        <label class="gf-form-label"><i class="fa fa-trash pointer" ng-click="ctrl.removeSeriesOverride($index)"></i></label>
      </div>
      <div class="clearfix"></div>
    </div>

    <button class="btn btn-inverse" style="margin-top: 20px" ng-click="ctrl.addSeriesOverride()">
      Add series specific option
    </button>
  </div>
</div>
